:root {
    font-family: Arial, Helvetica, sans-serif;

    --bluegrey: #447186;
    --primarygreen: #48cf95;

    --verydarkturquoise: #1e3f4c;
    --darkturquoise: #2b7780;
    --turquoise: #43c1c5;

    --verylightgrey: #f2f2f2;
    --lightgrey: #f1f1f1;
    --grey: #bdbdbd;
    --header-title-two: #27d095;

    --meal-top-background: #51e0c9;
    --meal-bottom-background: #4ad1c0;

}

::-webkit-scrollbar {
    height: 90%;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(207, 207, 207);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: rgb(163, 163, 163);
    border-radius: 25px;
}
